#header{
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../../assets/homepage.jpg') no-repeat center center; */
  background:url('../../assets/homepage.jpg') no-repeat center center;
  min-height: 90vh;
  /* opacity:0.9 */
}
.header-titles{
  background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  display: flex;
  /* padding: 1rem; */
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-titles h3{
  margin-top: 2rem;
font-size: 5rem;
text-align: center;
color:var(--dark-blue)
}
.header-titles h2{
  margin-top: 2rem;
  margin-bottom: 1rem;
font-weight:620;
font-size: 3.5rem;
text-align: center;
color:rgb(170, 42, 42);
}
.header-titles h5{
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight:600;
  font-size: 2rem;
  text-align: center;
  /* color:rgb(58, 58, 36); */
  color: rgb(31, 12, 32)

}
.header-titles button{
  margin-top: 3rem;
  border: 2px solid #052e46;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    background: #052e46;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;

}
.floating-icon {
  background-color: #0a1930;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  cursor: pointer;
}

.floating-icon a {
  border: 1px solid #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse {
  transform: translateY(-25%);
  animation: bounce 0.8s ease infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}

@media screen and (max-width: 769px) {
  .header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header-titles h3{
    margin-top: 1rem;
    font-size:4rem;
  }
  .header-titles h2{
    margin-top: 1rem;
    font-size:2.5rem;
  }
  .header-titles h5{
    margin-top: 1rem;
    font-size:1.5rem;
  }

  .header-left,
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  
}
